@media (max-width: 991px) {
    .carousel {
        padding: 50px 0;
        &__inner {
            width: 600px;
            img {
                width: 80%;
            }
        }
        .prev {
            left: 4%;
        } 
        .next {
            right: 4%;
            left: auto;
        }
    }
}

@media (max-width: 767px) {
    
}

@media (max-width: 575px) {
    .carousel {
        &__inner {
            width: calc(20%);
        }
        img {
            width: 100%;
        }
    }
}