@media (max-width: 991px) {
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
}

@media (max-width: 767px) {
    .header {
        justify-content: space-around;
        &__logo {
            img {
                width: 80%;
            }
        }
        &__contacts {
            button {
                padding: 2px
            }
        }
        &__official {
            display: none;
        }
        &__contacts {
            width: 370px;
            flex-direction: row;
            justify-content: space-between;
        }
        &__phone {
            font-size: 20px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .header {
        &__phone {
            font-size: 17px;
            transform: translateY(-10%);
        }

    } 
}